// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
	text-align: center;
	background-color: blue; 
	font-size: 30px;
	border_raduis :4px; 
	width :50%;  
}

.pagination a {
	color: yellow; 
}